#header{
    flex-grow: 1;
}
#body{
    flex-grow: 4;
}
#footer{
    flex-grow: 1;
}
#menu{
    flex-grow: 2;
}
#content{
    flex-grow: 8;
}
.title{
    width: 100%;
}
.button{
    width: 49.5%;
    border: solid black;
    background: white;
}
div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    border: solid black;
}
input{
    border: solid black;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;

}


